html {
  overflow: hidden;
  overscroll-behavior: none; /* 禁止边界回弹 */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  cursor: url('/assets/cursors/cursor-tech.ico') 0 0, auto !important;
}

a,
button,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
}


@media (min-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.ec-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}